{{abe type='data' key='gmaps' source="https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyCo_h54Rp4-1ygvmTSWgebLYz6hlcjLO7w&address=" autocomplete="true" display="{{formatted_address}} - (lat:{{geometry.location.lat}}-lng:{{geometry.location.lng}})" desc='gmaps'}}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Abe recipe:Google Maps</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<style>
			#map {
				height: 400px;
				width: 100%;
			}
    </style>
	</head>
	<body>
	<div id="map"></div>
		{{#if gmaps.0.formatted_address}}
	    <script>
	      function initMap() {
	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 4,
	          center: new google.maps.LatLng(
	          	{{gmaps.0.geometry.location.lat}},
	          	{{gmaps.0.geometry.location.lng}}
	          )
	        });
	        {{#forEach gmaps}}
	        new google.maps.Marker({
	          position: new google.maps.LatLng(
	          	{{geometry.location.lat}},
	          	{{geometry.location.lng}}
	          ),
	          map: map
	        });
	        {{/forEach}}
	      }
	    </script>
	    <script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTt9cVaCpNoJHXiFibB9t4Kk1xWzMkjOk&callback=initMap">
	    </script>
	    {{/if}}
	</body>
</html>