{{abe type='data' key='gmaps' source="https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyCo_h54Rp4-1ygvmTSWgebLYz6hlcjLO7w&address=" autocomplete="true" display="{{formatted_address}} - (lat:{{geometry.location.lat}}-lng:{{geometry.location.lng}})" desc='gmaps'}}
<!DOCTYPE html>
<html>
<head>
    <title>Abe recipe:Google Maps</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      #map {
        height: 400px;
        width: 100%;
      }
    </style>
</head>
<body>

{{#each stores}}
  {{abe type='data' key='stores.gmaps' source="https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyCo_h54Rp4-1ygvmTSWgebLYz6hlcjLO7w&address=" autocomplete="true" display="{{formatted_address}} - (lat:{{geometry.location.lat}}-lng:{{geometry.location.lng}})" desc='gmaps' max-length="1"}}
  {{#if gmaps}}
    <h1>{{gmaps.0.formatted_address}}</h1>
  {{/if}}
  
  {{abe type="text" key="stores.title" desc="title"}}
  {{abe type="text" key="stores.desc" desc="desc"}}
{{/each}}

</body>
</html>
